<!DOCTYPE html>
<html lang="en">
<head>
  <title>OWL</title>
  <meta charset="UTF-8">
  <script differ src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script differ src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body class="text-white bg-black p-4  w-full h-screen flex justify-center">
  <div class="w-[90%] gap-4 grid grid-cols-[300px_1fr] grid-rows-[1fr] h-full">
    <aside class="bg-zinc-900/50 p-4 text-white rounded-xl">Aside</aside>
    <main class="bg-zinc-900/50 p-4 text-white rounded-xl">Main</main>
  </div>
</body>
</html>
