<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>OWL - Chat app</title>
</head>
<body class="bg-black w-full h-screen flex flex-col items-center justify-between p-4">
  <nav class="flex justify-between w-[70%] items-center">
  <h1 class="text-white text-[40px] font-bold">OWL</h1>

  <ul class="flex gap-4 uppercase text-white text-lg font-bold text-lg">
    <li class="cursor-pointer hover:underline decoration-2 underline-offset-8">about</li>
    <li class="cursor-pointer hover:underline decoration-2 underline-offset-8">services</li>
    <li class="cursor-pointer hover:underline decoration-2 underline-offset-8">contact</li>
  </ul>
  
  <button class="cursor-pointer bg-white px-8 py-2 rounded text-black font-bold text-lg">Login</button>
  </nav>

  <main class="text-white flex flex-row w-[70%] h-[80%] items-center gap-4">
    <article class="w-2/3">
      <h4 class="text-gray-200 text-lg font-bold">privacy like never before</h4>
      <h1 class="text-white text-[56px]">OWL Chat | The Future of Private Communication</h1>
      <p class="text-lg">OWL Chat is a secure, encrypted messaging app designed for ultimate privacy. With end-to-end encryption, zero data collection, and a decentralized, anonymous system, your chats stay truly private. No logs, no tracking—just fast, lightweight, and secure communication. Privacy isn’t a luxury, it’s a right.</p>
    </article>

    <div class="imgs w-1/3 flex flex-col  gap-4">
      <div class="w-full bg-neutral-900 h-[400px] rounded-xl"></div>
      <div class="w-full bg-neutral-900 h-[40px] rounded-xl"></div>
      <div class="w-[70%] bg-neutral-900 h-[40px] rounded-xl"></div>
    </div>
  </main>
</body>
</html>
